header {
  margin-top: 50px;
  display: flex;
}

.logo {
  width: 300px;
}

.site-nav {
  display: flex;
  margin-top: 55px;
}

.nav-menu {
  font-size: 20px;
  margin-right: 40px;
}

.site-search {
  font-size: 30px;
  margin-top: 55px;
  margin-left: auto;
}

.main-image1 {
  margin: 100px auto;
  width: 100%;
}

.main-message {
  margin-bottom: 100px;
}

.main-messages {
  font-size: 30px;
}

.main-content {
  display: flex;
  margin-bottom: 50px;
}

.blog-date {
  width: 30%;
}

.blog-content {
  width: 70%;
}

.blog-title {
  margin-bottom: 30px;
}

.blog-discription {
  white-space: normal;
}
